<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <title>😹</title>
</head>
<body>
    <h1>hi, welcome to the cat web 😻</h1>
    <img class="center" src="<%= image %>" alt="an random cat image"> 
    <p><%= fact %></p>
</body>
</html>
